@import url('https://fonts.googleapis.com/css2?family=Milonga&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
/* reseteo */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: hsl(240, 6%, 13%);
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    /* font-family: "Milonga", serif; */
}
header{
    height: 96px;
    background-color: hsl(15, 7%, 11%);
}
/* div dentro de header */
    header div{
        width: 1200px;
        margin: auto;
        height: 96px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 12px;
    }
        header div nav img{
            margin-right: 12px;
            vertical-align: middle;
            padding-bottom: 12px;
        }
        header div nav a{
            padding: 12px;
            color: white;
            font-size: 20px;
            text-decoration: none;
        }
        #reservar{
            padding: 12px 24px;
            background-color: #F6CE77;
            color: #1F1C1B;
            border-radius: 8px;
            font-size: 20px;
            text-decoration: none;
        }